<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      helpUdesk
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card no-margin class="no-radius">
        <ion-item lines="none" color="medium">
          <ion-label>
            <h2 no-margin class="fw500 no-margin">
              <ion-text color="dark">Alert / Toast test</ion-text>
            </h2>
    
            <p class="text-11x no-margin">
              <ion-text  color="primary">{{yourLocation}}</ion-text>
            </p>
          </ion-label>
          <ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
            Location
            <ion-icon name="locate"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>

      <popmenu></popmenu>
</ion-content>
