<ion-header>
  <ion-toolbar color="primary">
    <ion-title>helpUdesk</ion-title>
      <ion-button slot="end" color="primary" (click)="loginAction()"> 
        <ion-icon  slot="icon-only" name="log-in"></ion-icon>
        Sign In 
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Application Fisrt Page -->
  <div padding-horizontal text-left class="animated fadeInDown">
    <div class="logo"></div>
    <h4 no-margin>
      <ion-text >
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla in voluptates magni! Similique quos quam pariatur repudiandae iste itaque modi vel, impedit temporibus cupiditate voluptates amet, eligendi iusto earum quaerat.
      </ion-text>
    </h4>
  </div>

</ion-content>

