<!-- <ion-header >
  <ion-toolbar color="secondary">
    <ion-title>
      helpUdesk
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div padding-horizontal text-center class="animated fadeInDown">
    <div class="logo"></div>
    <h4 no-margin>
      <ion-text color="light" class="fw700">
        Ionic 4 Start Theme
      </ion-text>
    </h4>
  </div>

    <ion-button expand="block" color="secondary" tappable>
      <ion-icon name="log-in"></ion-icon>
      Sign In
    </ion-button>





</ion-content>

